<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuotes()' #quotesForm='ngForm'>
            <div class="form-group">

                <label for="name">Quote</label>
                <textarea class="form-control" id="name" rows="4" required [(ngModel)]="newQuotes.name" name="name" #name="ngModel"></textarea>


                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> A Quote is Required</p>
                </div>

            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input type="text"  class="form-control" id="author" [(ngModel)]="newQuotes.author" name="author" #author="ngModel" required>

                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p> Insert author</p>
                </div>

            </div>
            <div class="form-group">

                <label for="submitted">Submitted By</label>
                <input type="text"  class="form-control" id="submitted" [(ngModel)]="newQuotes.submitted" name="submitted" #submitted="ngModel" required>

                <div [hidden]="submitted.valid || submitted.pristine" class="alert alert-danger">
                    <p> Insert name</p>
                </div>

            </div>

            <div class="form-group">
                <label for="created">Created On &nbsp; </label>
                <input type='date' id="created" [(ngModel)]="newQuotes.dateAdded" name="dateAdded" #dateAdded="ngModel" required >

                <div [hidden]="dateAdded.valid || dateAdded.pristine" class="alert alert-danger">
                    <p> A submit date is required</p>
                </div>

            </div>
            <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
        </form>
    </div>
</div>
<br><hr>




