<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="quotes">Quote</label>
                <textarea class="form-control" id="quotes" rows="4" required></textarea>
            </div>
            <div class="form-group">

                <label for="description">Author</label>
                <input type="text" required class="form-control" id="author">

            </div>
            <div class="form-group">

                <label for="description">Submitted By</label>
                <input type="text" required class="form-control" id="submitter">

            </div>

            <div class="form-group">
                <label for="complete">Created On </label>
                <input type='date' id="created" required>

            </div>
        </form>
    </div>
</div>





<!--
<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="name">Quote</label>
                <input type="text" required class="form-control" id="name">

            </div>
            <div class="form-group">

                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>

            </div>
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" required>

            </div>
        </form>
    </div>
</div> -->
