<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitGoal() #quotesForm='ngForm'>
            <div class="form-group">

                <label for="quotes">Quote</label>
                <textarea class="form-control" id="quotes" rows="4" required [(ngModel)]="newQuotes.quotes" name="quotes" #quotes="ngModel"></textarea>


                <div [hidden]="quotes.valid || quotes.pristine" class="alert alert-danger">
                    <p> A Quote is Required</p>
                </div>

            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input type="text"  class="form-control" id="author" [(ngModel)]="newQuotes.author" name="author" #author="ngModel" required>

                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p> Insert author</p>
                </div>

            </div>
            <div class="form-group">

                <label for="submitted">Submitted By</label>
                <input type="text"  class="form-control" id="submitted" [(ngModel)]="newQuotes.submitted" name="submitted" #submitted="ngModel" required>

                <div [hidden]="submitted.valid || submitted.pristine" class="alert alert-danger">
                    <p> Insert name</p>
                </div>

            </div>

            <div class="form-group">
                <label for="created">Created On &nbsp; </label>
                <input type='date' id="created" [(ngModel)]="newQuotes.created" name="created" #created="ngModel" required >

                <div [hidden]="created.valid || created.pristine" class="alert alert-danger">
                    <p> A submit date is required</p>
                </div>

            </div>
            <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
        </form>
    </div>
</div>





<!--
<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="name">Quote</label>
                <input type="text" required class="form-control" id="name">

            </div>
            <div class="form-group">

                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>

            </div>
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" required>

            </div>
        </form>
    </div>
</div> -->
